.about {
  margin-bottom: 128px;
  &__text {
    &--header {
      margin: 0 auto;
      width: 500px;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      color: #1A1A1A;
      margin-bottom: 24px;
    }

    &--description {
      margin: 0 auto;
      width: 780px;
      font-size: 20px;
      line-height: 142%;
      text-align: center;
      color: #7E7E7E;
      margin-bottom: 40px;
    }
  }

  &__cards {
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
  }

}

.card {
  width: 380px;
  height: 323px;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
  padding: 48px 0;

  &__image {
    margin: 0 137px 40px;
  }

  &__text {
    &--header {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #1A1A1A;
      margin-bottom: 16px;
    }

    &--description {
      margin: 0 auto;
      width: 316px;
      font-size: 16px;
      line-height: 142%;
      text-align: center;
      color: #7E7E7E;
    }
  }
}
