.footer {
  color: #fff;
  height: 183.46px;
  background-image: url("../images/footer.svg");

  &__row {
    padding: 0 130px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  &__text {
    &--logo {
      font-size: 32px;
      line-height: 39px;
    }

    &--right {
      font-size: 16px;
      line-height: 142%;
      text-align: center;
    }

    &--copyright {
      font-size: 16px;
      line-height: 142%;
      text-align: center;
    }
  }
}

.form {
  padding: 5px;
  margin: 0 auto;
  width: 579px;
  height: 64px;
  background: #fff;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 32px;

  &__text {
    padding: 18px 20px;
    outline: none;
    border: none;
    height: 100%;
    width: 391px;
    font-size: 16px;
    line-height: 162%;
    align-items: center;
  }

  &__button {
    cursor: pointer;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    width: 176px;
    height: 56px;
    background: #3A80BA;
    border-radius: 8px;

    &:hover {
      animation: pulse 1s;
      box-shadow: 0 0 0 2em rgba(#fff,0);
    }

  }
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #3A80BA; }
}
