.Sheader {
  background: #3A80BA;
  margin-bottom: 16px;
  padding: 10px 130px;
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
  }
}

.wrapper {
  padding: 0 130px;
}

.links {
  width: 200px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  &__item {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #ccc;
    &--active {
      color: #3A80BA;
    }

    &:hover {
      color: #3A80BA;
    }
  }
}

.text--bold {
  margin-bottom: 16px;
}

.Sfooter {
  color: #fff;
  padding: 15px 130px;
  display: flex;
  justify-content: space-between;
  background: #1C3B55;
  &__text--logo {

  }
  &__text--rights {

  }
  &__text--copyrights {

  }
}
