.header {
  height: 655px;
  background-image: url("../images/Rectangle 8.svg");
  background-size: cover;
  padding: 24px 0 0 130px;
  position: relative;
  margin-bottom: 16px;
}
.header__text {
  color: #fff;
}
.header__text--logo {
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 48px;
}
.header__text--head {
  font-style: normal;
  font-weight: normal;
  width: 586px;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 24px;
}
.header__text--description {
  width: 580px;
  font-size: 20px;
  line-height: 142%;
  margin-bottom: 32px;
}
.header__button {
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  color: #3A80BA;
  border-radius: 8px;
  padding: 17px 31px;
}
.header__image {
  position: absolute;
  width: 321px;
  height: 561px;
  left: 910px;
  top: 72px;
}

.about {
  margin-bottom: 128px;
}
.about__text--header {
  margin: 0 auto;
  width: 500px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #1A1A1A;
  margin-bottom: 24px;
}
.about__text--description {
  margin: 0 auto;
  width: 780px;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #7E7E7E;
  margin-bottom: 40px;
}
.about__cards {
  padding: 0 130px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 380px;
  height: 323px;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
  padding: 48px 0;
}
.card__image {
  margin: 0 137px 40px;
}
.card__text--header {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #1A1A1A;
  margin-bottom: 16px;
}
.card__text--description {
  margin: 0 auto;
  width: 316px;
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  color: #7E7E7E;
}

.footer {
  color: #fff;
  height: 183.46px;
  background-image: url("../images/footer.svg");
}
.footer__row {
  padding: 0 130px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.footer__text--logo {
  font-size: 32px;
  line-height: 39px;
}
.footer__text--right {
  font-size: 16px;
  line-height: 142%;
  text-align: center;
}
.footer__text--copyright {
  font-size: 16px;
  line-height: 142%;
  text-align: center;
}

.form {
  padding: 5px;
  margin: 0 auto;
  width: 579px;
  height: 64px;
  background: #fff;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 32px;
}
.form__text {
  padding: 18px 20px;
  outline: none;
  border: none;
  height: 100%;
  width: 391px;
  font-size: 16px;
  line-height: 162%;
  align-items: center;
}
.form__button {
  cursor: pointer;
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  width: 176px;
  height: 56px;
  background: #3A80BA;
  border-radius: 8px;
}

.Sheader {
  background: #3A80BA;
  margin-bottom: 16px;
  padding: 10px 130px;
}
.Sheader__text {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}

.links {
  margin-bottom: 24px;
}
.text--bold {
  margin-bottom: 16px;
}

.Sfooter {
  padding: 15px 130px;
  display: flex;
  justify-content: space-between;
  background: #1C3B55;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=style.css.map */
