.table {
  margin-bottom: 24px;
  &__tr {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    &--person {
      &:nth-child(odd) {
        background: #F1F1F1;
      }
    }
  }

  &__th {
    padding: 14px 18px;
    background: #3A80BA;
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
  }

  &__td {
    text-align: center;
    padding: 6px;
  }

  &__link {
    color: #1A1A1A;
    text-decoration: none;
  }
}

.pages {
  margin: 0 auto;
  width: 400px;
  display: flex;
  margin-bottom: 24px;
  justify-content: center;

  &__link {
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 8px;
    color: #1A1A1A;
    margin-right: 8px;
    text-decoration: none;
    padding: 14px;
    background-color: #fff;

    &--active {
      color: #fff;
      background-color: #3A80BA;
    }
  }
}
